
%colorBack{
    background: rgb(232,232,232);
    background: linear-gradient(90deg, rgba(232,232,232,1) 21%, rgba(149,149,149,1) 98%);
}
@mixin size ($width, $height){
    width: $width;
    height: $height;
}
%mainBack{
    background-image: url(../img/columnas.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;
}
%indexText{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    &:hover{
        background-color: black;
        transform: scale(1.1);
        box-shadow: 2px 2px black;
        transition: 1s;
    } 
}
