@import "../utilities/variables";

/*footer*/

footer{
    div{
        background-color: black;
        height: 75vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "sectionFooter1"
                             "sectionFooter2"
                             "sectionFooter3";
        .sectionFooter1{
            grid-area: sectionFooter1;
            margin-top: 30px;
            img{
                @include size(53%,50%);
                margin-left: 25%;
            }
            p{
                width: 53%;
                margin-top: 10px;
                margin-left: 25%;
                color: white;
            }
        }
        .sectionFooter2{
            grid-area: sectionFooter2; 
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                height: 50%;
                img{
                    object-fit: cover;
                    width:100%;
                    height:100%;
                }
                .linkTwitter{
                    border-radius: 25px;
                    margin-right: 10px;
                }
                .linkInstagram{
                    margin-left: 10px;
                }
            }
        }
       .sectionFooter3{
           grid-area: sectionFooter3;
           display: grid;
           justify-content: center;
           align-items: center;
           background-color: grey;
           p{
               color: white;
           }
        }  
    }    
}
                        

