@import "../utilities/variables";
header{
  .headerLogo{
      display: flex;
      justify-content: center;
      @extend %colorBack;
      height: 120px; 
      border-bottom: 1px solid black ;
      a{
        img{
          height: 100%;
        }
      }
  }
  .navMenu{
    @extend %colorBack;
  }
}

